<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Manager View</title>
<link rel="stylesheet" href="style.css" /> 
</head>
<body>

<div class="header">
  <a href="#default" class="logo">CompanyLogo</a>
  <div class="header-right">
    <a class="active" href="#home">HR view</a>
    <a href="#contact">Monthly</a>
    <a href="#about">Vacation requests</a>
    <a href="#about">Transfer days requests</a>
    <a href="#about">Delete days requests</a>
  </div>
</div>

<div class="container">
    
</div>

</body>
</html>
