{% extends 'manager_view/manager_base.html' %} {% block content %}
<div class="container">
  <div id="alert-container">{% include '_alerts.html' %}</div>
  <form id="vacation-form" action="{% url 'requests'  %}" method="POST">
    {% csrf_token %}
    <table class="table" style="margin: 10px 0">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">From</th>
          <th scope="col">Till</th>
          <th scope="col">Type</th>
          <th scope="col">Description</th>
          <th scope="col">Requested</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for request in all_requests%}
        <tr>
          <td>
            {{ request.employee.user.first_name }}
            {{request.employee.user.last_name }}
          </td>
          <td>{{ request.start_date }}</td>
          <td>{{ request.end_date }}</td>
          <td>{{ request.get_request_type_display }}</td>
          <td>{{ request.description }}</td>
          <td>{{ request.created_at|date:"d-m-Y" }}</td>
          <td>
            <button
              class="btn btn-success approve-button"
              data-request-id="{{ request.id }}"
            >
              Approve
            </button>
            <button
              class="btn btn-danger reject-button"
              data-request-id="{{ request.id }}"
            >
              Reject
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <input
      type="hidden"
      name="selected_request_id"
      id="selected-request-id"
      value=""
    />
    <input type="hidden" name="action" id="selected-action" value="" />
  </form>
  <nav>
    {% if all_requests.has_other_pages %}
      <ul class="pagination">
        {% if all_requests.has_previous  %}
          <li class="page-item">
            <a href="?page={{all_requests.previous_page_number}}" class="page-link">&laquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
              <a class="page-link">&laquo;</a>
          </li>
        {% endif %}
        {% for i in all_requests.paginator.page_range %}
          {% if all_requests.number == i %}
            <li class="page-item active">
              <a class="page-link">{{i}}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a href="?page={{i}}" class="page-link">{{i}}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if all_requests.has_next %}
        <li class="page-item">
          <a href="?page={{all_requests.next_page_number}}" class="page-link">&raquo;</a>
        </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link">&raquo;</a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </nav>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const approveButtons = document.querySelectorAll(".approve-button");
    const rejectButtons = document.querySelectorAll(".reject-button");
    const selectedRequestIdInput = document.getElementById(
      "selected-request-id"
    );
    const selectedActionInput = document.getElementById("selected-action");

    approveButtons.forEach((button) => {
      button.addEventListener("click", function (event) {
        event.preventDefault();
        selectedRequestIdInput.value = button.getAttribute("data-request-id");
        selectedActionInput.value = "approve";
        document.getElementById("vacation-form").submit();
      });
    });

    rejectButtons.forEach((button) => {
      button.addEventListener("click", function (event) {
        event.preventDefault();
        selectedRequestIdInput.value = button.getAttribute("data-request-id");
        selectedActionInput.value = "reject";
        document.getElementById("vacation-form").submit();
      });
    });
  });
</script>

{% endblock %}
