{% extends 'manager_view/manager_base.html' %} {% block content %}
<div class="container">
  <!-- Alerts -->
  {% include '_alerts.html' %}
  <form
    id="vacation-form"
    action="{% url 'transfer_days_requests'  %}"
    method="POST"
  >
    {% csrf_token %}
    <table class="table" style="margin: 10px 0">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">From</th>
          <th scope="col">Till</th>
          <th scope="col">Description</th>
          <th scope="col">Requested</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for request in transfer_requests%}
        <tr>
          <td>
            {{ request.employee.user.first_name }}
            {{request.employee.user.last_name }}
          </td>
          <td>{{ request.start_date }}</td>
          <td>{{ request.end_date }}</td>
          <td>{{ request.description }}</td>
          <td>{{ request.created_at|date:"d-m-Y" }}</td>
          <td>
            <button
              class="btn btn-success approve-button"
              data-request-id="{{ request.id }}"
            >
              Approve
            </button>
            <button
              class="btn btn-danger reject-button"
              data-request-id="{{ request.id }}"
            >
              Reject
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <input
      type="hidden"
      name="selected_request_id"
      id="selected-request-id"
      value=""
    />
    <input type="hidden" name="action" id="selected-action" value="" />
  </form>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const approveButtons = document.querySelectorAll(".approve-button");
    const rejectButtons = document.querySelectorAll(".reject-button");
    const selectedRequestIdInput = document.getElementById(
      "selected-request-id"
    );
    const selectedActionInput = document.getElementById("selected-action");

    approveButtons.forEach((button) => {
      button.addEventListener("click", function (event) {
        event.preventDefault();
        selectedRequestIdInput.value = button.getAttribute("data-request-id");
        selectedActionInput.value = "approve";
        document.getElementById("vacation-form").submit();
      });
    });

    rejectButtons.forEach((button) => {
      button.addEventListener("click", function (event) {
        event.preventDefault();
        selectedRequestIdInput.value = button.getAttribute("data-request-id");
        selectedActionInput.value = "reject";
        document.getElementById("vacation-form").submit();
      });
    });
  });
</script>

{% endblock %}
