<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- Top Bar -->
    <div class="topbar">
      <!-- Logo -->
      <div class="topbar-left">
        <a href="../dashboard.html">
          <span>
            <img
              src="../assets/images/systemverification_logo.png"
              alt="logo-large"
              class="logo"
            />
          </span>
        </a>
      </div>
    </div>
    <!-- Navbar -->
    <nav class="navbar">
      <ul class="topbar-nav">
        <li>
          <span class="nav-user-name">Hello, User/span>
        </li>
        <li>
          <button>Log out</button>
        </li>
      </ul>
    </nav>

    <!-- Left Side -->
    <div class="left-sidenav">
      <ul>
        <li>
          <a href="../dashboard.html">
            <i class="fa-solid fa-bars"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li>Add Event</li>
        <li>View Employees</li>
      </ul>
    </div>
    <!-- Page Content -->

    <script src="https://kit.fontawesome.com/65d2e5b72d.js" crossorigin="anonymous"></script>
  </body>
</html>
