body {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px 1fr;
  font-family: "Avenir Next LT W04 Regular", sans-serif !important;
  margin: 0;
}
h2 {
  font-family: "Tw Cen MT W03 Medium Cond", sans-serif;
  font-weight: 350;
}



/* Top Bar */

.left,
.right {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.right {
  margin-left: auto;
}

.logout-btn {
  border: none;
  text-decoration: none;
  background: #ffdb45;
  color: #222 !important;
  margin: 0;
  text-align: center;
  font-family: "Tw Cen MT W04 Medium", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

.logout-btn {
  padding: 2px 16px;
  font-size: 20px;
}

/* Left Side Bar */
.leftside {
  background-color: #292b2c;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.logo {
  text-align: center;
  height: 60px;
  padding-top: 10px;
}

.leftside-menu {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

ul {
  list-style-type: none;
}
.leftside-menu ul {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.menu-item {
  padding: 20px 5px;
}

.menu-item a {
  text-decoration: none;
  color: #ffffff;
}
i {
  padding: 0 5px;
}

.leftside-menu a:hover{
  text-decoration: none;
}

/* Main Block */
.main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.main a {
  color: #292b2c !important;
}
