{% extends 'employee_view/base.html' %} 
{% block content %}

<div class="container">
  <div class="row text-center">
    <div class="col-md-10">
      <!-- #TODO: -->
      <!-- TODO: needs to be renamed -->
      <!-- this is going to be a table -->
      <form action="search.html">
        <!-- Form Row 1 -->
        <div class="form-row">
          <div class="col-md-4 mb-2">
            <label class="sr-only">Name</label>
            <input
              type="text"
              name="name"
              class="form-control"
              placeholder="Name"
            />
          </div>

          <div class="col-md-4 mb-2">
            <label class="sr-only">City</label>
            <select name="City" class="form-control">
              <option selected="true" disabled="disabled">
                Choose City
              </option>
              {% for city in cities %}
              <option value="{{ city.name }}">{{ city.name }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-md-4 mb-2">
            <label class="sr-only">Manager</label>
            <select name="Role" class="form-control">
              <option selected="true" disabled="disabled">
                Choose Manager
              </option>
              {% for manager in managers %}
              <option value="{{ manager.user.id }}">
                {{ manager.user.first_name }} {{ manager.user.last_name }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-row">
          
        </div>
        <button class="btn btn-secondary btn-block mt-4" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
